In [1]:
import json
import requests
import re,string,timeit
import time
import pandas as pd
import os
from dotenv import load_dotenv

Setup your parameters
Request URL
https://api.domain.com.au/v2/suburbPerformanceStatistics/NSW/Castle%20Hill/2154?propertyCategory=house&bedrooms=3&periodSize=quarters&startingPeriodRelativeToCurrent=40&totalPeriods=40

Provide your client credentials as per your Domain developer account.

Required: client_id and client_secret

Make a POST request to receive token.

In [27]:
load_dotenv()
client_id =os.getenv("domain_client_id")
client_secret = os.getenv("domain_client_oauth_secrets")
# client_secret="secret_461901bea416e4731f15dc40467ff8e9"
print(client_secret)

secret_461901bea416e4731f15dc40467ff8e8

In [28]:
#to authenticate client credentials
# Make a POST request to the https://auth.domain.com.au/v2/connect/token endpoint using your client_id and client_secret, along with the list of scopes that you require. 
auth_url2 = 'https://auth.domain.com.au/v1/connect/token'

In [29]:

# https://developer.domain.com.au/docs/v2/apis/pkg_properties_locations/references/suburbperformance_get_bynamedsuburb
# GET /v2/suburbPerformanceStatistics/{state}/{suburb}/{postcode}

In [30]:
#Scope and Permissions
#The following scopes may be used when calling this endpoint
#https://developer.domain.com.au/docs/v1/apis/pkg_properties_locations/references/properties_get:

scopes = ['api_suburbperformance_read']

In [31]:
url_endpoint2 = 'https://api.domain.com.au/v2/suburbPerformanceStatistics/'

#to define suburb details example for 1 suburb only
state='NSW'
suburb="Chatswood"
postcode='2067'
# property_category = 'house'
period_size = 'quarters'
period_length = 40
total_periods= 40
url_detailed=f'https://api.domain.com.au/v2/suburbPerformanceStatistics/{state}/{suburb}/{postcode}/'


# url_detailed = 'https://api.domain.com.au/v2/suburbPerformanceStatistics/{}/{}/{}?propertyCategory={}&bedrooms={}&periodSize={}&startingPeriodRelativeToCurrent={}&totalPeriods={}'.format(state,suburb,postcode,propertyCategory,bedrooms,periodSize,startingPeriodRelativeToCurrent,totalPeriods)

In [32]:
#housing data with bedrooms, houseCategories, timeperiods length
def get_property_info(suburb,postcode):
    response = requests.post(auth_url2,
        data = {
        'client_id':client_id,
        'client_secret':client_secret,
        'grant_type':'client_credentials',
        'scope': scopes,
        'Content-Type':'text/json'}
        )
    json_res = response.json()
    access_token=json_res["access_token"]
    print(access_token)
    auth = {'Authorization':'Bearer '+access_token}
    
    url_detailed=f'https://api.domain.com.au/v2/suburbPerformanceStatistics/NSW/{suburb}/{postcode}/?totalPeriods=40'



    res2 = requests.get(url_detailed,headers = auth)
    
    r2=res2.json()
    
    json_object =json.dumps(r2,indent=4)
    json.dumps(r2,indent=4)
    
    if "header"  in json.loads(json_object).keys():
    
        with open("./resources/{}_{}.json".format(postcode,suburb),"w") as outfile:
            outfile.write(json_object)
    else:
        print(f'data is bad')
    

# get_property_info()

In [34]:
#This is just a sample test dict of suburbs to checkout dataframe
list_suburbs={"Randwick":2031,
             "Paddington":2021,
             "Zetland":2017,
             "Lane Cove":2066,
             "Artarmon":2064,
              "St Leonards":2065,
              "Mosman":2088,
              "Pymble":2073,
              "Frenchs Forest":2086,
              "Epping":2121,
              "Pennant Hills":2120,
              "Baulkham Hills":2153,
              "Castle Hill":2154,
              "Kellyville":2155,
              "Hornsby":2077,
              
              "Alstonville":2477,
              "Ballina":2478,
              "Banora Point":2486,
              "Broadwater":2472,
              "Brunswick Heads":2483,
              "Byron Bay":2481,
              "Cabarita Beach":2488,
              "Casino":2470,
              "Casuarina":2487,
              "Chinderah":2487,
              "Evans Head":2473,
              "Iluka":2466,
              "Kingscliff":2487,
              "Kyogle":2474,
              "Lennox Head":2478,
              "Murwillumbah":2484,
              "Ocean Shores":2483,
              "Pottsville":2489,
              "Woodburn":2472,
              "Yamba":2464 
              }
for suburb,postcode in list_suburbs.items():
#     print(f"getting data for {suburb},{postcode}")
    get_property_info(suburb, postcode)

ec651411906e343e4ddf7299da5e7b45
8ee03c8a2d3579c0b18310bff4db0235
a60a5852f76dfff9c8a6a5922859ee18
ca2758792529a495c106614dbe6e9ad3
08117cd1eff1cce39a584eb729a4b466
308af0ac19a20001e5ed860eaf4d8786
1c1faeb0631e418b5c9e790eb166f1c6
f73846d699c3746be6c95feb006bf785
73b56944128d160525e2bf047ab82184
0905d665d791f8da95afa1c2c056661c
12653def6ecd5fa67850334b944f1c3a
25c951429d16199d5f0ad9193c3b7664
d144a21012e11b7f9ee34214c87a55b3
5e0ad217ec94c67593341d325d0f1487
79057468b3647f65261dca36104bb404
f704d08366329f3f3ecca99c99c7bcbe
f1e8742c211e20e44d809cc68683a497
470e7d89f99b761fa7a9fbec4ea71da2
e3c9bc0bc179964853cec8fa911dc5ee
ba8a2e758536e60a3d08a5e0843c7937
ba8d96651a75515b5c25f10e29a295b0
f70bbdcfd2a8833866198560ba82ba8a
4b1bac30cc92df8284a9b59bc1849c51
fc97110a000acaba158a77cd0501c226
fed7569770a17548befacaa11323c043
3dc219c563ccf1400c3e0a56b15c2e4a
5f3544d45923b98c9cb09965f298ff8a
7f5b50da5f83b3a650e8e4cb43a0727b
8c9ff5c468d1b87ba3162a673d4e7886
e72a5e47c940ff0a3fbe2ef58761a231
5dc18f92419af070c8a1101777a4ec70
f962c70fdfa4f6b3da9dda42c01fd763
9d30653e09bd27713a2d80ba67d58b37
8f321748bc9faa2eb83c8468ddc28309
cd6cca89c45db0f0fe5f2e24191a0440

In [42]:
#to open json file saved in previous step & convert to dataframe & combine all dataframe into a master dataframe
df = pd.DataFrame()
frames= []
for suburb, postcode in list_suburbs.items(): 
    with open("./resources/{}_{}.json".format(postcode,suburb),"r") as sub_housing_data:
        sub_housing_data=json.load(sub_housing_data)
        suburb_name=sub_housing_data['header']['suburb']
        
    for x in range (40):
        
        headers_dict1=sub_housing_data['series']['seriesInfo'][x]['values']
        headers_dict1["year"]=sub_housing_data['series']['seriesInfo'][x]["year"]
        headers_dict1["month"]=sub_housing_data['series']['seriesInfo'][x]["month"]
        sub_df1 = pd.DataFrame(headers_dict1.values(),index=headers_dict1.keys(),columns=[suburb_name]).T
      
        sub_df1 = sub_df1.reset_index().drop(columns=["auctionNumberWithdrawn","daysOnMarket","discountPercentage",
                                                      "5thPercentileSoldPrice","25thPercentileSoldPrice",
                                                      "75thPercentileSoldPrice","95thPercentileSoldPrice",
                                                      "numberRentListing","highestRentListingPrice","lowestRentListingPrice"]).rename(columns={"index":"suburb"})
        frames.append(sub_df1)
df = pd.concat(frames)

In [45]:
df.head()

,suburb,medianSoldPrice,numberSold,highestSoldPrice,lowestSoldPrice,medianSaleListingPrice,numberSaleListing,highestSaleListingPrice,lowestSaleListingPrice,auctionNumberAuctioned,auctionNumberSold,medianRentListingPrice,year,month
0,Randwick,1402000.0,30.0,5450000.0,690000.0,1750000.0,76.0,8000000.0,800000.0,32.0,18.0,880.0,2011.0,9.0
0,Randwick,1490000.0,44.0,6200000.0,890000.0,1625000.0,81.0,5850000.0,700000.0,33.0,16.0,895.0,2011.0,12.0
0,Randwick,1505000.0,32.0,2350000.0,565000.0,1590000.0,71.0,3800000.0,570000.0,25.0,14.0,1000.0,2012.0,3.0
0,Randwick,1550000.0,33.0,3325000.0,685000.0,1550000.0,76.0,4250000.0,660000.0,19.0,10.0,840.0,2012.0,6.0
0,Randwick,1373000.0,38.0,3050000.0,665000.0,1400000.0,74.0,3100000.0,650000.0,26.0,16.0,820.0,2012.0,9.0

In [36]:
df.columns

Index(['suburb', 'medianSoldPrice', 'numberSold', 'highestSoldPrice',
       'lowestSoldPrice', 'medianSaleListingPrice', 'numberSaleListing',
       'highestSaleListingPrice', 'lowestSaleListingPrice',
       'auctionNumberAuctioned', 'auctionNumberSold', 'medianRentListingPrice',
       'year', 'month'],
      dtype='object')

In [37]:
df = df[['year', 'month','suburb', 'medianSoldPrice', 'numberSold', 'highestSoldPrice',
       'lowestSoldPrice', 'medianSaleListingPrice', 'numberSaleListing',
       'highestSaleListingPrice', 'lowestSaleListingPrice',
       'auctionNumberAuctioned', 'auctionNumberSold', 'medianRentListingPrice',
       ]]

In [40]:
df.sample(10)

,year,month,suburb,medianSoldPrice,numberSold,highestSoldPrice,lowestSoldPrice,medianSaleListingPrice,numberSaleListing,highestSaleListingPrice,lowestSaleListingPrice,auctionNumberAuctioned,auctionNumberSold,medianRentListingPrice
0,2017.0,6.0,Frenchs Forest,1645000.0,43.0,2440000.0,1330000.0,1550000.0,49.0,2300000.0,1300000.0,37.0,24.0,920.0
0,2014.0,3.0,Zetland,NaN,5.0,1300000.0,842000.0,NaN,4.0,1150000.0,800000.0,3.0,3.0,850.0
0,2011.0,9.0,Kyogle,NaN,6.0,350000.0,100000.0,290000.0,86.0,960000.0,142000.0,NaN,NaN,NaN
0,2013.0,9.0,Kingscliff,550000.0,23.0,780000.0,366000.0,595000.0,97.0,3000000.0,215000.0,5.0,2.0,425.0
0,2017.0,6.0,Iluka,420000.0,15.0,550000.0,270000.0,439000.0,20.0,675000.0,160000.0,1.0,NaN,NaN
0,2012.0,12.0,Mosman,1875000.0,91.0,12800000.0,726000.0,2750000.0,209.0,15000000.0,700000.0,47.0,17.0,1700.0
0,2019.0,3.0,Baulkham Hills,976000.0,78.0,1719000.0,620000.0,998000.0,127.0,6250000.0,550000.0,29.0,18.0,550.0
0,2019.0,3.0,Kingscliff,1135000.0,44.0,3025000.0,355000.0,995000.0,97.0,3395000.0,10000.0,5.0,4.0,695.0
0,2012.0,9.0,Lane Cove,1040000.0,19.0,2000000.0,579000.0,1100000.0,36.0,2600000.0,590000.0,12.0,7.0,800.0
0,2014.0,6.0,Castle Hill,1000000.0,167.0,2501000.0,440000.0,948000.0,222.0,2950000.0,430000.0,61.0,44.0,643.0

In [39]:
df.to_csv('data.csv',index=False)